body,
html {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --cyan: #0dcaf0;
}

body {
  background: #f9f9f9;
  color: #5a5a5a;
}



mark {
  background-color: inherit;
  color: inherit;
  cursor: pointer !important;
  padding: 0;
  transition: border .15s;
  border-bottom: 3px solid transparent;
}

mark:hover {
  border-bottom: 3px solid var(--cyan);
  transition: border .25s;
}



.a {
  font-weight: 700;
  text-decoration: none
}

.a:visited {
  text-decoration: none;
  color: #0123ce
}

abbr[title$=onfer] {
  font-style: italic !important
}

.f,
h1,
.n1>a,
.n1>a:visited,
h1.header {
  margin-bottom: .8em;
  color: var(--cyan);
  font-weight: 700;
}

.f {
  font-size: 1.75rem !important;
  display: inline-block;
  text-transform: capitalize;
  color: var(--cyan)
}

.otras {
  font-size: 1.1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px
}

.n1>a {
  font-size: 1.2em !important
}

.n1.fc {
  font-size: .95em !important
}

.n2,
.n3,
.n4,
.n5 {
  margin: 0;
  color: green;
  padding: .6em 1.2em;
  font-size: .9em;
  border-radius: 6px;
  background-color: #eee;
  margin-bottom: 2px;
}

.n4,
.n5 {
  font-size: .85em
}

.j {
  margin-top: 1em
}

.par,
.par * {
  background-color: #e8e8e8 !important
}

.par {
  padding-top: .3em;
  margin-bottom: 1em
}

.par p {
  margin-top: 0;
  margin-bottom: .3em
}

.par * {
  line-height: initial
}

.af,
.av {
  color: #0123ce !important;
  font-weight: 700 !important
}

.var_fc_1 {
  color: maroon !important;
  font-size: large
}

.var_fc_2 {
  color: #c30 !important
}

abbr {
  color: #0070c0;
  text-decoration: none !important;
  cursor: pointer !important
}

abbr.g {
  color: #a6a6a6
}

abbr.c {
  font-style: italic
}

.n2 abbr,
.n3 abbr {
  color: inherit
}

.k5,
.k6 {
  font-size: 1.2em !important;
  font-weight: 700;
  margin-top: 1em
}

.k5 {
  color: maroon
}

.k6 {
  color: #c30
}

.n_acep {
  font-weight: 700
}

.h {
  color: #5e0d5e;
  font-style: italic
}

.u {
  color: red;
  font-weight: 700
}

.i1 {
  font-size: .85em;
  text-transform: uppercase
}

.i2 {
  font-size: .92em;
  text-transform: uppercase
}

.i4 {
  text-transform: uppercase
}

.i5 {
  font-style: normal !important
}

.k1 {
  color: inherit;
  font-weight: 400
}

h2 {
  font-size: 1.15rem;
  font-weight: 600;
}

h3 {
  font-size: 1.05rem;
  font-weight: 600;
}

.o {
  font-size: .75em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
  padding-top: 20px
}

.cnj {
  border-collapse: collapse;
  width: 100%
}

td[data-g] {
  border-top: 1px solid #000 !important
}

td[title] {
  border-top: 1px solid #000 !important
}

.cnj tr td {
  border-collapse: collapse;
  text-align: center
}

.cnj tr th {
  background-color: #f2f2f2;
  border-collapse: collapse;
  border-top: 1px solid #000 !important;
  padding: .5em;
  text-align: center
}

tr th:nth-child(1) {
  color: gray;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: -1px !important;
  word-spacing: -1px !important
}

tr th:nth-child(2) {
  color: gray;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: -1px !important;
  word-spacing: -1px !important
}

tr th:nth-child(3) {
  color: gray;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: -1px !important;
  word-spacing: -1px !important
}

tr th:nth-child(4) {
  font-size: 1.1em;
  font-variant: small-caps;
  font-weight: 400
}

tr th:nth-child(5) {
  font-size: 1.1em;
  font-variant: small-caps;
  font-weight: 400
}


.c-table {
  margin: 1.5rem 0;
  table-layout: auto;
  width: 100%;
  vertical-align: top;
  border-color: #ededed
}

.c-table>tbody {
  vertical-align: inherit
}

.c-table>:not(caption)>*>* {
  padding: .75rem;
  vertical-align: middle;
  background-color: #fff;
  border-bottom-width: .0625rem
}

@media (min-width:62rem) {
  .c-table>:not(caption)>*>* {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

.c-table>:not(caption)>* {
  border-width: .0625rem 0
}

.c-table>:not(caption)>*>* {
  border-width: 0 .0625rem
}

.c-table th:not([class]) {
  width: 32%;
  font-size: .75rem;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f7f7
}

.c-table td {
  width: 32%;
  font-family: Merriweather, serif;
  font-weight: 700
}